# EXTRAS: needed for testing and support purposes
# These are installed with: pip install -r requirements-extras.txt

# Async test cases
pytest-asyncio
# pytest fixture
pytest-repeat
# Bluetooth library
bleak
# Robot test fw
robotframework
robotframework-csvlibrary
robotframework-seriallibrary
robotframework-pabot
# Use correct time in metadata.json timestamp
pytz
# Raspi GPIO control for power cycle tests
rpi-lgpio
# PWM hardware measurements
gpiod