name: Build

on:
  push:
    branches:
      - "*"
  pull_request:
    branches: [main]
  workflow_dispatch:
    inputs:
      runner_label:
        description: Label of the runner to execute the job
        required: true
        default: raspberrypi5-production
        type: string
      board_target:
        description: Target board for the build
        required: true
        default: esp32s3_devkitc/esp32s3/procpu
        type: string
      test_hardware:
        description: Tests target
        required: false
        default: Real_hardware
        type: choice
        # No space in choice string
        options:
          - "Real_hardware"
          - "Simulation_Emulation"
      test_tag:
        description: Test TAGs to filter tests
        required: false
        default: ""
        type: string
      pytest_args:
        description: Arguments to the pytest subprocess (extend YAML config)
        required: false
        default: ""
        type: string
      test_scenario:
        description: Test suite scenario to run
        required: false
        default: ""
        type: string
      run_tests:
        description: Target operation with image
        required: true
        default: "Build with testing"
        type: choice
        options:
          - "Build only"
          - "Build with testing"
      tests_target:
        description: Tests scope to run
        required: false
        default: app/repo/shell
        type: choice
        # No space in choice string
        options:
          - "app/repo"
          - "app/repo/general"
          - "app/repo/shell"
          - "app/unit/dut"
          - "app/unit/host"
          - "app/robot"
          - "integration_tests"
          - "zephyr_framework_tests"
    
env:
  RUNNER_LABEL: raspberrypi5-production
  BOARD_TARGET: esp32s3_devkitc/esp32s3/procpu
  TESTS_TARGET: app/repo/shell
  TEST_TAG: N/A
  PYTEST_ARGS: N/A
  TEST_SCENARIO: N/A
  RUN_TESTS: "Build with testing"
  INTEGRATION_TESTS: "no"
  TEST_HARDWARE: Real_hardware
  # Pass all secrets as json to jobs
  SECRETS_JSON: ${{ toJSON(secrets) }}

jobs:  
  process-runner:
    name: Get runner label to execute the workflow
    runs-on: ubuntu-24.04
    outputs:
      label: ${{ env.RUNNER_LABEL }}
    steps:
      - name: Read runner label
        id: runner-label
        run: |
            echo "RUNNER_LABEL=${INPUT_RUNNER_LABEL:-$RUNNER_LABEL}" >> $GITHUB_ENV
        env:
          INPUT_RUNNER_LABEL: ${{ github.event.inputs.runner_label }}

  process-image:
    name: Set workflows docker image
    needs: process-runner
    runs-on: ${{ needs.process-runner.outputs.label }}
    outputs:
      image: ${{ steps.container-arch.outputs.image }}
    # Set container name based on runner architecture  
    steps:
      - name: Set container based on runner architecture
        id: container-arch
        shell: bash
        run: |
            echo "Detected runner architecture: $RUNNER_ARCH"
            if [[ $RUNNER_ARCH == 'ARM64' ]]; then
            echo "Set container name to fit the runner arch: zephyrprojectrtos/ci:latest"
            echo "image=zephyrprojectrtos/ci:latest" >> $GITHUB_OUTPUT
            fi
            if [[ $RUNNER_ARCH == 'X64' ]]; then
            echo "Set container name to fit the runner arch: zephyrprojectrtos/ci:latest"
            echo "image=zephyrprojectrtos/ci:latest" >> $GITHUB_OUTPUT
            fi

  build:
    name: Build Zephyr workspace
    needs: [process-image, process-runner]
    runs-on: ${{ needs.process-runner.outputs.label }}
    outputs:
      testing: ${{ env.RUN_TESTS }}
      board_target: ${{ env.BOARD_TARGET }}
      test_tag: ${{ env.TEST_TAG }}
      pytest_args: ${{ env.PYTEST_ARGS }}
      test_scenario: ${{ env.TEST_SCENARIO }}
      tests_target: ${{ env.TESTS_TARGET }}
      integration_tests: ${{ env.INTEGRATION_TESTS }}
      test_hardware: ${{ env.TEST_HARDWARE }}
    defaults:
      run:
        working-directory: customer-application
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: customer-application
      
      # Run docker container
      - name: Run Zephyr Docker container
        shell: bash
        run: |
            echo "pwd"
            pwd
            echo "Checking out Zephyr env..."
            echo "Current github folder:"
            ls -la
            echo "Parent github folder: ls -la .."
            ls -la ..

            docker run -d --name zephyr-env \
                --user $(id -u):$(id -g) \
                --device=/dev/ttyUSB0 \
                --cgroupns=host \
                --privileged \
                --network host \
                -v "${GITHUB_WORKSPACE}:/workspace" \
                -v /var/run/dbus:/var/run/dbus \
                -v /run/dbus:/run/dbus \
                -v /run/udev:/run/udev \
                -v /dev:/dev \
                -v /etc/udev/rules.d:/etc/udev/rules.d \
                -v /sys/class/bluetooth:/sys/class/bluetooth \
                -v /var/lib/bluetooth:/var/lib/bluetooth \
                -v /lib/modules:/lib/modules \
                -v /usr/src:/usr/src \
                -e DBUS_SESSION_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket \
                -e CMAKE_PREFIX_PATH=/opt/toolchains \
                -w /workspace/customer-application \
                ${{ needs.process-image.outputs.image }} \
                sleep infinity

      # Install Zephyr workspace
      - name: Install Zephyr workspace
        shell: bash
        run: |
            docker exec -u $(id -u):$(id -g) zephyr-env \
            bash -c "chmod +x .github/scripts/zephyr_workspace_init.sh && \
                .github/scripts/zephyr_workspace_init.sh"

      # Add github-runner to users and groups inside container 
      - name: Set runner-user permissions
        shell: bash
        run: |            
            export MY_UID=$(id -u)
            export MY_GID=$(id -g)
            docker exec -u root -e MY_UID=$MY_UID -e MY_GID=$MY_GID zephyr-env && \               
            bash -c "getent group $MY_GID >/dev/null || groupadd -g $MY_GID pantoska-tieto && \
              id -u pantoska-tieto &>/dev/null || useradd -m -u $MY_UID -g $MY_GID -s /bin/bash pantoska-tieto && \
              echo 'pantoska-tieto ALL=(ALL) NOPASSWD:ALL' >> /etc/sudoers && \
              usermod -aG dialout pantoska-tieto && \
              chmod 666 /dev/ttyUSB0"

      - name: Set build env variables
        shell: bash
        run: |
            echo "RUNNER_LABEL=${INPUT_RUNNER_LABEL:-$RUNNER_LABEL}" >> $GITHUB_ENV
            echo "BOARD_TARGET=${INPUT_BOARD_TARGET:-$BOARD_TARGET}" >> $GITHUB_ENV
            echo "TESTS_TARGET=${INPUT_TESTS_TARGET:-$TESTS_TARGET}" >> $GITHUB_ENV
            echo "TEST_TAG=${INPUT_TEST_TAG:-$TEST_TAG}" >> $GITHUB_ENV
            echo "PYTEST_ARGS=${INPUT_PYTEST_ARGS:-$PYTEST_ARGS}" >> $GITHUB_ENV
            echo "TEST_SCENARIO=${INPUT_TEST_SCENARIO:-$TEST_SCENARIO}" >> $GITHUB_ENV
            echo "RUN_TESTS=${INPUT_RUN_TESTS:-$RUN_TESTS}" >> $GITHUB_ENV
            if [[ ${INPUT_TESTS_TARGET} == 'integration_tests' ]]; then
            echo "INTEGRATION_TESTS=yes" >> $GITHUB_ENV
            fi
            echo "TEST_HARDWARE=${INPUT_TEST_HARDWARE:-$TEST_HARDWARE}" >> $GITHUB_ENV
        env:
          INPUT_RUNNER_LABEL: ${{ github.event.inputs.runner_label }}
          INPUT_BOARD_TARGET: ${{ github.event.inputs.board_target }}
          INPUT_TESTS_TARGET: ${{ github.event.inputs.tests_target }}
          INPUT_TEST_TAG: ${{ github.event.inputs.test_tag }}
          INPUT_PYTEST_ARGS: ${{ github.event.inputs.pytest_args }}
          INPUT_TEST_SCENARIO: ${{ github.event.inputs.test_scenario }}
          INPUT_RUN_TESTS: ${{ github.event.inputs.run_tests }}
          INPUT_TEST_HARDWARE: ${{ github.event.inputs.test_hardware }}
           
      # Install lib extras for testing
      - name: Install lib extras
        shell: bash
        run: |
            docker exec -u root zephyr-env bash -c \
            "apt-get update && apt-get install -y \
            iperf sysbench fio"

      # Create Python virtual env and install required packages
      - name: Install Python extra packages
        shell: bash
        run: |
            docker exec -u root zephyr-env \
            bash -c "pip install -r requirements-extras.txt"

      # Debud zephyr env after intiation
      - name: Check Zephyr workspace after installation
        shell: bash
        run: |
            docker exec -u $(id -u):$(id -g) zephyr-env \
            bash -c "echo 'pwd'
            echo 'Checking out Zephyr env...'
            echo 'Current github folder:'
            ls -la
            echo 'Parent github folder: ls -la ..'
            ls -la ..
            echo 'Grand Parent github folder: ls -la ../..'
            ls -la ../..
            echo 'Root github folder: ls -la /'
            ls -la /
            echo 'User home folder: ls -la ~'
            ls -la ~
            echo 'Check for pyserial python module installation...'
            grep -r 'pyserial' $(python -c 'import site; print(site.getsitepackages()[0])')"


      # Example for custom application build
      - name: Build app for ${{ env.BOARD_TARGET }}
        shell: bash
        run: |
            docker exec -u $(id -u):$(id -g) zephyr-env bash -c " \
            west build -p always -b ${{ env.BOARD_TARGET }} app-esp32/blinky"
       
      # Conditional flash - for 'native_siFlm' board case
      - name: Flash app if build file is valid
        shell: bash
        run: |
            docker exec -u $(id -u):$(id -g) zephyr-env bash -c " \
              if [ -f build/zephyr/zephyr.bin ]; then
                west flash
              else
                echo 'Skipping flash: No valid build output found.'
              fi"

  start_testing:
    name: Trigger test framework
    if: ${{ needs.build.outputs.testing == 'Build with testing' }}
    needs: [process-runner, process-image, build] 
    uses: ./.github/workflows/testing.yml
    with:
      docker_image: ${{ needs.process-image.outputs.image }}
      runner_label: ${{ needs.process-runner.outputs.label }}
      board_target: ${{ needs.build.outputs.board_target }}
      test_tag: ${{ needs.build.outputs.test_tag }}
      pytest_args: ${{ needs.build.outputs.pytest_args }}
      test_scenario: ${{ needs.build.outputs.test_scenario }}
      tests_target: ${{ needs.build.outputs.tests_target }}
      integration_tests: ${{ needs.build.outputs.integration_tests }}
      test_hardware: ${{ needs.build.outputs.test_hardware }}
    secrets: inherit
