name: Install nRF Connect SDK (NCS)

on:
  workflow_call:
    inputs:
      runner_label:
        description: Label of the runner specified in Build workflow
        required: true
        type: string
      board_target:
        description: Target board for the build
        required: true
        type: string

env:
  BOARD_TARGET: ${{ inputs.board_target }}

jobs:  
  install-ncs:
    name: Install nRF Connect SDK (NCS)
    runs-on: ${{ inputs.runner_label }}
    defaults:
      run:
        working-directory: ${{ github.workspace }}
    steps:
      # Install nRF Command Line Tools (AMR64)
      - name: Download nRF Command Line Tools for ARM64
        shell: bash
        if: ${{ runner.arch == 'ARM64' }}
        run: |
            docker exec -u $(id -u):$(id -g) zephyr-env \
            bash -c "curl -L ${{ env.NRF_CMDLINE_ARM64_URL }} \
            -o /tmp/nrf-command-line-tools_10.24.2_arm64.deb"
        env:
          NRF_CMDLINE_ARM64_URL: https://nsscprodmedia.blob.core.windows.net/prod/software-and-other-downloads/desktop-software/nrf-command-line-tools/sw/versions-10-x-x/10-24-2/nrf-command-line-tools_10.24.2_arm64.deb

      - name: Install nRF Command Line Tools for backward compatibility (ARM64)
        shell: bash
        if: ${{ runner.arch == 'ARM64' }}
        run: |
            docker exec -u $(id -u):$(id -g) zephyr-env \
            bash -c "sudo dpkg -i /tmp/nrf-command-line-tools_10.24.2_arm64.deb || sudo apt-get -y -f install"

      # Exclude the udevadm configuration from the J-Link package, because the
      # host environment is unknown and containers are not compatible.
      - name: Install SEGGER J-Link tool delivered with nRF Command Line Tools (ARM64)
        shell: bash
        if: ${{ runner.arch == 'ARM64' }}
        run: |
            docker exec -u $(id -u):$(id -g) zephyr-env \
            bash -c "sudo dpkg --unpack /opt/nrf-command-line-tools/share/JLink_Linux_V794e_arm64.deb
            sudo rm -f /var/lib/dpkg/info/jlink.postinst
            sudo dpkg --force-all --configure jlink
            sudo apt-get -y install -f"

      # Install nRF Util tool (X64)
      - name: Download nRF Util tool (X64)
        shell: bash
        if: ${{ runner.arch == 'X64' }}
        run: |
            docker exec -u $(id -u):$(id -g) zephyr-env \
            bash -c "sudo curl ${{ env.NRFUTIL_X64_URL }} -o /usr/local/bin/nrfutil"
        env:
          NRFUTIL_X64_URL: https://files.nordicsemi.com/artifactory/swtools/external/nrfutil/executables/x86_64-unknown-linux-gnu/nrfutil

      - name: Configure nrfutil tool (X64)
        shell: bash
        if: ${{ runner.arch == 'X64' }}
        run: |
            docker exec -u $(id -u):$(id -g) zephyr-env \
            bash -c "sudo chmod +x /usr/local/bin/nrfutil"

      - name: Ensure the lastest version of nrfutil tool (X64)
        shell: bash
        if: ${{ runner.arch == 'X64' }}
        run: |
            docker exec -u $(id -u):$(id -g) zephyr-env \
            bash -c "nrfutil self-upgrade"

      - name: Install nRF device configuration (X64)
        shell: bash
        if: runner.arch == 'X64'
        run: |
            docker exec -u $(id -u):$(id -g) zephyr-env \
            bash -c "nrfutil install device"

      # Install nRF Connect SDK framework (NCS)
      - name: Install nRF Connect SDK
        shell: bash
        run: |
          docker exec -u $(id -u):$(id -g) zephyr-env \
          bash -c "cd /workspace
          git clone https://github.com/nrfconnect/sdk-nrf.git nrf
          rm -rf /workspace/.west
          west init -l nrf
          west update -o=--depth=1 -n
          west zephyr-export
          echo "Current github workspace after NCS initialization:"
          ls -la"

      # Verify NCS workspace after installation
      - name: Check Zephyr workspace after installation
        shell: bash
        run: |
            docker exec -u $(id -u):$(id -g) zephyr-env \
            bash -c "cd /workspace
            echo 'Current folder:'
            pwd
            echo 'Current github folder:'
            ls -la
            echo 'NCS github folder: nrf/'
            ls -la nrf
            echo 'customer-application folder: customer-application/'
            ls -la customer-application"

      # Example for custom application build (X64/AMR64)
      - name: Build app for ${{ env.BOARD_TARGET }}
        shell: bash
        run: |
            docker exec -u $(id -u):$(id -g) zephyr-env bash -c " \
            west build -p always -b ${{ env.BOARD_TARGET }} app-esp32/blinky"     
       
      # Conditional flash - for 'native_sim' exception (X64)
      - name: Flash app if build file is valid
        shell: bash
        if: ${{ runner.arch == 'X64' }}
        run: |
            docker exec -u $(id -u):$(id -g) zephyr-env bash -c " \
            HEX_FILE=\$(find build -type f -path '*/zephyr/zephyr.hex' | head -n 1); \
            if [ -n \"\$HEX_FILE\" ]; then
              echo \"Found HEX file: \$HEX_FILE\"; \
              west flash; \
            else
              echo 'Skipping flash: No zephyr-binary in build output found.'; \
            fi"


      # Conditional flash - for 'native_sim' exception (AMR64)
      - name: Flash app if build file is valid
        shell: bash
        if: ${{ runner.arch == 'ARM64' }}
        run: |
            docker exec -u $(id -u):$(id -g) zephyr-env bash -c " \
            HEX_FILE=\$(find build -type f -path '*/zephyr/zephyr.hex' | head -n 1); \
            if [ -n \"\$HEX_FILE\" ]; then
              echo \"Found HEX file: \$HEX_FILE\"; \
              west flash --runner nrfjprog; \
            else
              echo 'Skipping flash: No zephyr-binary in build output found.'; \
            fi"
